extends ../layouts/common.pug
 
block content

 h1.text-danger CREATE USER
 if error
  each err in error
   .alert.alert-danger=err
 
 form(action='/user/create' method='POST')
  .form-group
   label(for="name") Name
   input#name(type='text' name='name' class='form-control', value=values? values.name : ' ')
  .form-group
   label(for="phone") Phone
   input#phone(type='text' name='phone' class='form-control', value=values ? values.phone : ' ')
  button(class='btn btn-dark ml-2') create	
