extends ../layouts/common

block content

  h1 User

  .d-flex.align-items-center
    a(href='/user/create' class='btn btn-primary') New
    form.ml-auto(action='/user/search' method='GET' class='d-flex')
      input(class='form-control ml-auto' name='q')
      button.btn.btn-primary.ml-2 search


  table.table
    tr
      th Avatar
      th Name
      th Phone
      th Action
    each user in users
      tr
       if user.avatar
        td
         img(src='/'+user.avatar width='64')
       else
        td
         img(src='/avt.jpg' width='64')  
       td=user.name
       td=user.phone
       td
        a(href='/user/' + user.id) view